*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1{ font-size: 3.5em;
     color : white}

h2{ font-size: 2em;}
h3{ 
    font-size: 2.5em;
    color: white;
}
p {
    color: white;
    font-size: 1.25em;
}


body {
    font-family: ´robot´, sans-serif;
    margin: 0; 

}

button {
    font-size:1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    background-color: rgb(59, 90, 228);
}
.header__logo a {
        color: #fff;
        text-decoration: none;
        font-weight: lighter;
        font-size: 50px;
}

header{
    background-color: rgb(93, 177, 177);
    padding: 20px;
    box-shadow: 0 0 3px black;
    text-align: center;
    overflow-x: hidden;
    margin-bottom: -20px;
  
}
header li {
    display: inline;
    padding: 5px;
    

}
header li a {
    color: whitesmoke;
    text-decoration: none;
    padding: 13px;
    transition: .3s ease;
    font-size: large;
    
}
header li a :hover {
    color: royalblue;
    
}
header ul #login a {
    color: white;
    background-color: royalblue;
    border-radius: 30px;
    float: right;
    position: relative;
    top: -120px;
    right: 10px;
    transition: .3s ease;
    position: absolute;
    height:50px ;
    width: 150px;

}
header ul #login a :hover {
    color: rgb(93, 177, 177);
}
.header_nav  {
    
    position: relative;
    top: 20px;
     
    }
.btn2{
    background-color: rgb(7, 130, 161);
    position: relative;
    height:100px ;
    width: 200px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(2, 64, 80, 0.445);
    -webkit-transition-duration: 0.3s;
    transition-duration: scale(1.1);
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;

} 
.btn2:hover, .btn2:focus, .btn2:active{
    box-shadow: 0 0 20px rgba(24, 4, 139, 0.5);  
    -webkit-transfor : scale(1.1);
    transform: scale(1.1);

}

/* .carousel-control-prev {
    width: 50px;
    height: 70px;
    align-content: space-between;
    align-self: center;
   
    
}
section .carousel-control-next {

    width: 50px;
    height: 70px;
    align-content: space-between;
    align-self: center; 
   

}  */

button:hover {
    background-color: whitesmoke;
}


.luckiest_guy_regular {
   
    font-family: "Luckiest Guy", cursive;
    font-weight: lighter;
    font-style: normal;
  }
  
  
#default-carousel{
    inline-size: auto;
    box-sizing: content-box;
}

    

.info {
    
    display: flex;
    
    
}


 #logo {
    box-sizing: content-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 120vh;
   
   }


#barraMedia{
    
   
    background-image: url(img/escaymar.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    
}
#barraMedia p {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 3.5em;
}
#tienda{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
     rgba(0,0,0,0.5),
     rgba(0,0,0,0.5) 
    )
     ,url("img/IMG_0747.JPG");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     margin-top: 20px;

}

.carta{
    width: 300px;
}


footer {
    background-color: rgb(6, 77, 158);
    color: #fff;
    padding: 30px 0;
    text-align: center;
    margin-top: 20px;
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.columnas {
    display: flex;
}

.columna {
    flex: 1;
    margin: 0 10px;
}

.columna h3 {
    color: #fff;
}

.columna ul {
    list-style: none;
    padding: 0;
}

.columna ul li {
    margin-bottom: 5px;
}

.redes-sociales a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
}

.redes-sociales a:hover {
    color: whitesmoke; 
}
  



/* footer{
    position: relative;
    width: 100%;
    background: rgb(216, 166, 216);
    min-height: 80px;
    padding: 30px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}   */
/* footer .social_icon,
footer .menu
{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center; 
   margin: 10px 0;
   flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li
{
    list-style: none;

}
footer .social_icon li a
{
font-size: 2em;
color: rgb(66, 7, 66);
margin: 0 10px;
display: inline-block;
transition: 0.5s;
}
footer .menu li a
{
font-size: 1.2em;
color: rgb(66, 7, 66);
margin: 0 10px;
display: inline-block;
text-decoration: none;
opacity: 0.75;
}
footer .social_icon li a:hover {
    transform: translateY(-10px);

}
footer .ola {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgb(230, 208, 230) url(img/ola1.jpg);
    background-size: 1000px 100px;

}
footer .ola#ola1{
   z-index: 1000;
   opacity: 1;
   bottom: 0;
   animation: olaanimada 4s linear infinite;

}
@keyframes olaanimada {
    0%{
        background-position-x: 1000px;
    }
} */
/* @media screen and (max-width:800px) {
    .logoCabezera 
        flex-direction: column;
        height: 120px;
        justify-content: space-evenly;
    
} */


